


<!-- local_alternatelogin/modal_info -->

<div id="alternate-modal-container" style="display:none">
    <div id="alternate-login-info" role="dialog" aria-labelledby="welcome-dialog-title" aria-describedby="welcome-dialog-content">
        <h1 id="welcome-dialog-title" tabindex="0">{{modaltitle}}</h1>
        <div id="welcome-dialog-content" tabindex="0">
        {{{modalinfo}}}
        </div>
        <center>
        <button id="alternate-modal-close" tabindex="0" type="button" aria-label="{{#str}}close, local_alternatelogin{{/str}}" class="alternate-modal-dialog">
        <i class="fa fa-minus-circle" aria-hidden="true"></i>
        </button>
        </center>
    </div>
</div>
<!-- /local_alternatelogin/modal_info -->
